# Functions in Python

In [1]:
def tea():
    print("Boil water with tea leaves and sugar")
    print("Add milk")
    print("Let it boil 4-5 times")
    
print("Not a part of the function")
    
def coffee():
    print("Boil some milk")
    print("Pour it in cup with some coffee")
    print("Stir")

Not a part of the function

In [3]:
# calling tea function
tea()
tea()
tea()
tea()

for i in range(5):
    tea()

Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times

In [4]:
coffee()

Boil some milk
Pour it in cup with some coffee
Stir

Write a function to say hello to people by their names

In [ ]:
print("Hello Tarun Luthra")
print("Hello Peter Parker")
print("Hello Bruce Wayne")

In [15]:
def hello(name):
    print("Hi", name)

In [16]:
hello("Bruce Wayne")

Hi Bruce Wayne

In [17]:
hello(5)

Hi 5

In [18]:
hello("Tony Stark")

Hi Tony Stark

In [20]:
print(type(hello))

<class 'function'>

In [38]:
def fight(name = "Spiderman", age = 20, villains = ['Thanos', 'Ultron']):
    print("Hero named", name, "at age", age, "was fighting all these villains - ", villains)

In [39]:
fight("Spiderman", 20)

Hero named Spiderman at age 20 was fighting all these villains -  ['Thanos', 'Ultron']

In [40]:
fight("Spiderman", 20, ['Venom', 'Electro', 'Goblin'])

Hero named Spiderman at age 20 was fighting all these villains -  ['Venom', 'Electro', 'Goblin']

In [41]:
fight()

Hero named Spiderman at age 20 was fighting all these villains -  ['Thanos', 'Ultron']

## Returning data from a function

Write a function to get the cube of a number.

In [42]:
def cube(x):
#     return value of x**3
    ans = x ** 3
    return ans

In [43]:
x = 5

# compute the cube of x and store it in 'y'
y = cube(x)

In [44]:
y

125

In [45]:
z = cube(3)
print(z)

27

In [46]:
print("5 cube + 3 cube = ", y+z)

5 cube + 3 cube 152

## Return as many as values as you want

In [47]:
def spiderman():
    return "Peter Parker", 20, "Tom Holland"
    return 5 , 2, 3.   ## reduntant code, will never get executed

In [48]:
name, age, actor = spiderman()

In [49]:
print("Name = ", name)
print("Age = ", age)
print("Actor =", actor)

Name =  Peter Parker
Age =  20
Actor = Tom Holland

## Calling with keyword pair arguments

In [50]:
def fight(name, age, villains):
    print("Hero named", name, "at age", age, "was fighting all these villains - ", villains)

In [51]:
fight(age=20, villains=['Venom', 'Electro'], name="Spiderman")

Hero named Spiderman at age 20 was fighting all these villains -  ['Venom', 'Electro']

In [52]:
fight?

In [53]:
range?

# Break till 10.13 pm

## Call stack

In [67]:
m = 10 
# global scope
# its value can be read inside any function

y = 1000

def square(x):
    print("m = ", m)
    global y
    y = 5
    print("y = ", y)
    return x ** 2


def pythagoras(a, b):
    c2 = square(a) + square(b)
    return c2

print(pythagoras(4, 5))
print("hello")
print(square(10))
print("y = ", y)

m =  10
y =  5
m =  10
y =  5
41
hello
m =  10
y =  5
100
y =  5

In [60]:
pythagoras?

In [88]:
x = 10

def hello():
    global x
    x = 20
    print("x = ", x)
    print('Hello World')
    
hello()
print("x = ",x)

x =  20
Hello World
x =  20

# Map function

In [68]:
def square(x):
    return x ** 2

a = [5, 2, 6, 9, 3]

Generate a list that contains the squares of the numbers in 'a'

b = [25, 4, 36, 81, 9]

In [69]:
b = []
for x in a:
    b.append(square(x))

In [70]:
b

[25, 4, 36, 81, 9]

You want to call a function on all elements of an iterable (list, range, tuple, set).

In [74]:
b = list(map(square, a))

In [76]:
b

[25, 4, 36, 81, 9]

# Lambda Functions

In [77]:
def square(x):
    return x ** 2

def cube(x):
    return x ** 3

In [78]:
square2 = lambda x: x ** 2

In [79]:
square2(10)

100

In [80]:
multiply1 = lambda a,b: a*b

def multiply2(a, b):
    return a*b

In [82]:
multiply2(6,5)

30

In [93]:
d = lambda b: [b**2, b+b]

In [94]:
d(10)

[100, 20]

In [ ]:
def d(b):
    return b**2, b+b